html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  background-image: url('../img/bg_pattern.png');
  background-repeat: repeat;
  margin-top:40px;
}

.page-title {
  margin-bottom: 30px;
}