<div class="col-lg-8">
    <!-- World Creation Component -->
    <div id="world-creation-panel" ng-show="!grid.width && !grid.height">
        <div class="panel panel-primary padded-panel">
            <div class="panel-heading">
                <i class="fa fa-filter"></i> World Setup
            </div>
            <div class="panel-body">
                <form name="worldCreationForm" ng-submit="initWorld(worldCreationForm, worldSize)">
                    <div class="form-group">
                        <world-input world-size="worldSize"></world-input>
                        <div ng-show="worldCreationForm.size.$error.pattern === true" class="error-message">
                            Input invalid, should be in #,# format!
                        </div>
                    </div>
                    <button id="world-creation-button" type="submit" class="btn btn-default">
                        <i class="fa fa-gavel"></i> Build World
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Robot location and directions -->
    <div id="robot-control-panel" ng-show="grid.width && grid.height">
        <div class="panel panel-primary padded-panel">
            <div class="panel-heading">
                <i class="fa fa-filter"></i> Robot Controls
            </div>
            <div class="panel-body">
                <form name="robotControlForm" ng-submit="runRobot(robotControlForm, startLocation, directions)">
                    <!-- Robot Location Input Component -->
                    <div class="form-group">
                        <location-input start-location="startLocation"></location-input>
                        <div ng-show="robotControlForm.startlocation.$error.pattern === true" class="error-message">
                            Input invalid, should for example be 1,1N!
                        </div>
                    </div>
                    <!-- Directions Input Component -->
                    <div class="form-group">
                        <directions-input directions="directions"></directions-input>
                        <div ng-show="robotControlForm.directions.$error.pattern === true" class="error-message">
                            Invalid command in command queue. L,R & F are acceptable commands.
                        </div>
                    </div>
                    <button id="run-button" type="submit" class="btn btn-default">
                        <i class="fa fa-play"></i> Run Robot (Beep-Boop!)
                    </button>
                    <button id="new-world-button" type="button" class="btn btn-default" ng-click="grid = {};">
                        <i class="fa fa-gavel"></i> Build New World
                    </button>
                </form>
            </div>
        </div>
        <!-- Content area for robot -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-th"></i> Mars Grid
            </div>
            <div class="panel-body no-padding">
                <table class="table table-bordered table-responsive mars-grid">
                    <tbody>
                        <tr ng-repeat="row in rows">
                            <td class="coordinates" ng-repeat="column in columns" ng-class="getCellClass(column, row)" data-container="body" data-title="x: {{ column }}, y: {{ grid.height - row - 1 }}" bs-tooltip></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Console -->
<div class="col-lg-4">
    <pre>{{ intergalacticConsole.output() }}<div class="blink">&#9646;</div></pre>
</div>