<div class='col-sm-12 col-xs-12 control-area-mobile'>
    <div class='panel panel-primary padded-panel'>
        <div class='panel-heading'>
            <i class='fa fa-filter'></i> ImageWall Controls
        </div>
        <div class='panel-body'>
            <!-- Title search component -->
            <div class='form-group'>
                <label>Search by title</label>
                <div class='input-group'>
                    <span class='input-group-addon'>
                        <i class='fa fa-fw fa-search'></i>
                    </span>
                    <input type='text' id='title-search-mobile' ng-model='titleSearch' placeholder='Write image of the title here' class='form-control'/>
                </div>
            </div>
            <!-- Page item count setter component -->
            <div class='form-group'>
                <label>Number of images per page</label>
                <div class='input-group'>
                    <span class='input-group-addon'>
                        <i class='fa fa-fw fa-hashtag'></i>
                    </span>
                    <input type='number' id='page-items-mobile' ng-init='pageItemCount = 10' min='1' max='250' ng-model='pageItemCount' class='form-control'/>
                </div>
            </div>
            <!-- Pagination controls -->
            <div class='text-center'>
                <dir-pagination-controls max-size='5'></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>