<div class="col-lg-3 col-md-4 sidebar pull-left">
    <h3><i class="fa fa-filter"></i> ImageWall Controls</h3>
    <div class="form-group">
        <label>Search by title</label>
        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-fw fa-search"></i>
                </span>
            <input type="text" id="image-search" ng-model="titleSearch" placeholder="Write image title here" class="form-control" name="image-search"/>
        </div>
    </div>
    <div class="form-group">
        <label>Number of images per page</label>
        <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-fw fa-hashtag"></i>
                </span>
            <input ng-init="pageItemCount = 12" min="1" max="250" type="number" id="page-count" ng-model="pageItemCount" class="form-control" name="image-search"/>
        </div>
    </div>
    <div class="text-center">
        <dir-pagination-controls max-size="5"></dir-pagination-controls>
    </div>
</div>